html {
  font-size: 62.5%;
}

:root {
  --headings: #333950;
  --text: #747b95;
  --white: #fff;
  --blue: #5175ff;
  --navy: #25293a;
  --sky-blue: #829cff;
  --error: #f05b5b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 26px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 2rem;
}

h1,
h2,
h3 {
  color: var(--headings);
}

h1 {
  font-size: 4rem;
  line-height: 48px;
}

h2 {
  font-size: 5.6rem;
  line-height: 64px;
}

.blue-h3 {
  color: var(--blue);
}

p {
  color: var(--text);
}

@media (min-width: 1110px) {
  body {
    font-size: 1.8rem;
    line-height: 28px;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 64px;
  }
}

/* Button */
.btn {
  font-family: inherit;
  font-weight: bold;
  padding: 1.3rem 0;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

a {
  font-family: inherit;
  font-weight: bold;
  padding: 1.3rem 0;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
  text-decoration: none;
  background-color: var(--blue);
  width: 170px;
  display: inline-block;
  text-align: center;
  color: var(--white);
}

.btn-sm {
  width: 17rem;
}

.btn-lg {
  width: 100%;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--sky-blue);
}

.btn-grey {
  background-color: opacity 0.15;
  color: var(--blue);
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: opacity 0.25;
}

.btn-white {
  background-color: var(--white);
  color: var(--blue);
}

.btn-white:hover,
.btn-white:focus {
  color: var(--sky-blue);
}

/* CARDS */
.card {
  border-radius: 13px;
  background-color: var(--white);
  min-width: 328px;
  padding: 4rem;
  text-align: center;
  transition: all 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.card-container {
  position: relative;
  top: 250px;
}

@media (min-width: 768px) {
  .card-container {
    top: 200px;
  }
}

@media (min-width: 1110px) {
  .card-container {
    top: 221px;
  }
}

.card > h2 {
  margin-top: 3.4rem;
}

ul {
  list-style: none;
  margin: 5.3rem 0 3.2rem;
}

li {
  margin-bottom: 1.6rem;
}

.card__type {
  color: var(--headings);
  font-size: 2rem;
  font-weight: bold;
  line-height: 28px;
}

.card--pro {
  background-color: var(--blue);
  color: var(--white);
}

.card--pro {
  background-image: url("home/bg-pattern-pricing.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

.card--pro .card__price {
  color: var(--white);
}

.card--pro .card__monthly-cycle {
  color: var(--white);
}

.card--pro .card__type {
  color: var(--white);
}

.card--pro > ul {
  opacity: 0.75;
}

/* GRIDS */
.grid {
  display: grid;
  gap: 3rem;
}

@media (min-width: 1110px) {
  .cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media ((min-width: 768px) and  (max-width: 1109px)) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    row-gap: 2.4rem;
    background-position-y: center;
    background-position-x: left;
  }

  ul {
    margin: 0;
  }

  .card__price {
    margin: 1.6rem 0 0.4rem;
  }

  .card__listItems {
    align-self: self-end;
  }

  .card__listItems > li:last-child {
    margin-bottom: 0;
  }
}

/* TIMER */
.count-down {
  width: 100%;
}

@media (min-width: 1110px) {
  .count-down {
    margin: 0;
  }
}
.timer-heading {
  text-align: center;
  color: var(--white);
}

.timer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time {
  background-color: var(--headings);
  color: var(--white);
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
  min-width: 7rem;
  margin-right: 1rem;
}

.time > h4 {
  font-size: 3.2rem;
  line-height: 48px;
}

.time > p {
  color: var(--white);
  opacity: 0.5;
}

.timer-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 48px;
  letter-spacing: 5px;
  margin-bottom: 1.8rem;
}

@media (min-width: 768px) {
  .time {
    width: 100%;
  }
}

@media (min-width: 1110px) {
  .timer-heading {
    text-align: left;
  }

  .timer-container {
    justify-content: flex-start;
  }

  .time {
    width: 10rem;
  }
}

/* FORMS */

.form {
  border-radius: 13px;
  padding: 4rem 4rem 5rem;
  background-color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input,
.select-box {
  font-family: inherit;
  font-size: inherit;
  color: var(--headings);
  border: none;
  background-color: transparent;
  outline: none;
  width: 100%;
}

input {
  text-indent: 10px;
}

.input-container {
  border-bottom: 1px solid var(--text);
  padding-bottom: 1.6rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid var(--text);
}

.select-box {
  padding-bottom: 1.6rem;
  font-weight: bold;
  color: var(--headings);
  appearance: none;
  padding-left: 1rem;
}

.select-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--navy);
  height: 900px;
  padding-bottom: 10rem;
  background-image: url("home/bg-pattern-footer.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.footer-container {
  width: 100%;
}

.footer-content > a {
  margin-top: 4rem;
}
.footer-content {
  text-align: center;
}

@media (min-width: 768px) {
  footer {
    height: 750px;
  }

  .footer-content > a {
    margin-top: 4.8rem;
  }
}

@media (min-width: 1110px) {
  footer {
    height: 603px;
    padding-bottom: 9rem;
    align-items: center;
  }

  .footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

/* HERO */
.hero {
  text-align: center;
}

.hero__image {
  width: 100%;
  order: 1;
}

.hero__content {
  order: 2;
}

.hero__content > h1,
.hero__content > p {
  margin-bottom: 2.4rem;
}

.hero.grid {
  row-gap: 6.4rem;
}

@media (min-width: 768px) {
  .hero__content {
    order: 1;
    align-self: center;
    text-align: left;
  }

  .hero__image {
    order: 2;
  }

  .cols-2 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1110px) {
  .hero__content > p {
    margin-bottom: 3.2rem;
  }
}

/* NavBar */
nav {
  display: flex;
  justify-content: start;
  align-items: center;
}

@media (max-width: 767px) {
  nav {
    justify-content: center;
  }
}

nav > a {
  background-color: transparent;
}

/* SIGN-UP PAGE */
.sign-up {
  /* margin: 0 0 3rem; */
}

.sign-up__content {
  text-align: center;
}

.sign-up.grid {
  row-gap: 9rem;
}

.sign-up__content > h2 {
  margin-bottom: 1.6rem;
}

.sign-up__content > p {
  margin-bottom: 6.4rem;
}

.sign-up__content .timer-heading {
  text-align: center;
  color: var(--headings);
}

.sign-up__content .timer-container {
  justify-content: center;
}

@media (min-width: 768px) {
  .sign-up__content {
    text-align: left;
  }

  .sign-up__content > h2 {
    margin-bottom: 2.4rem;
  }

  .sign-up__content .timer-heading {
    text-align: left;
  }

  .sign-up__content .timer-container {
    justify-content: start;
  }

  .sign-up__content > p {
    margin-bottom: 4rem;
  }
}
