html {
  font-size: 62.5%;
}

:root {
  --headings: #333950;
  --text: #747b95;
  --white: #fff;
  --blue: #5175ff;
  --navy: #25293a;
  --sky-blue: #829cff;
  --error: #f05b5b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  font-family: "Kumbh Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  line-height: 26px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--headings);
}

h1 {
  font-size: 4rem;
  line-height: 48px;
}

h2 {
  font-size: 5.6rem;
  line-height: 64px;
}

.blue-h3 {
  color: var(--blue);
}

p {
  color: var(--text);
}

@media (min-width: 1110px) {
  body {
    font-size: 1.8rem;
    line-height: 28px;
  }

  h1 {
    font-size: 5.6rem;
    line-height: 64px;
  }
}

/* Button */
.btn {
  font-family: inherit;
  font-weight: bold;
  padding: 1.3rem 0;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.btn-sm {
  width: 17rem;
}

.btn-lg {
  width: 100%;
}

.btn-blue {
  background-color: var(--blue);
  color: var(--white);
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: var(--sky-blue);
}

.btn-grey {
  background-color: opacity 0.15;
  color: var(--blue);
}

.btn-grey:hover,
.btn-grey:focus {
  background-color: opacity 0.25;
}

.btn-white {
  background-color: var(--white);
  color: var(--blue);
}

.btn-white:hover,
.btn-white:focus {
  color: var(--sky-blue);
}

/* CARDS */
.card {
  border-radius: 13px;
  background-color: var(--white);
  width: 100%;
  padding: 4rem;
  text-align: center;
}

.card > h2 {
  margin-top: 3.4rem;
}

ul {
  list-style: none;
  margin: 5.3rem 0 3.2rem;
}

li {
  margin-bottom: 1.6rem;
}

.card__type {
  color: var(--headings);
  font-size: 2rem;
  font-weight: bold;
  line-height: 28px;
}

.card--pro {
  background-color: var(--blue);
  color: var(--white);
}

.card--pro {
  background-image: url("home/bg-pattern-pricing.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
}

.card--pro .card__price {
  color: var(--white);
}

.card--pro .card__monthly-cycle {
  color: var(--white);
}

.card--pro .card__type {
  color: var(--white);
}

.card--pro > ul {
  opacity: 0.75;
}

/* GRIDS */
.grid {
  display: grid;
  gap: 3rem;
}

@media (min-width: 1110px) {
  .cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media ((min-width: 768px) and  (max-width: 1109px)) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    row-gap: 2.4rem;
    background-position-y: center;
    background-position-x: left;
  }

  ul {
    margin: 0;
  }

  .card__price {
    margin: 1.6rem 0 0.4rem;
  }

  .card__listItems {
    align-self: self-end;
  }

  .card__listItems > li:last-child {
    margin-bottom: 0;
  }
}

/* TIMER */
.count-down {
  width: 45rem;
}
.timer-heading {
  text-align: center;
}

.timer-container {
  display: flex;
  justify-content: space-between;
}

.time {
  background-color: var(--headings);
  color: var(--white);
  padding: 2rem;
  border-radius: 4px;
  text-align: center;
  margin-right: 1.3rem;
}

.time > h4 {
  font-size: 3.2rem;
  line-height: 48px;
}

.time > p {
  color: var(--white);
  opacity: 0.5;
}

.timer-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 48px;
  letter-spacing: 5px;
  margin-bottom: 1.8rem;
}

@media (min-width: 1110px) {
  .timer-heading {
    text-align: left;
  }
}

/* FORMS */

.form {
  border-radius: 13px;
  padding: 4rem 4rem 5rem;
  background-color: var(--white);
}

input,
.dropdown-btn {
  font-family: inherit;
  font-size: inherit;
  color: var(--headings);
  border: none;
  background-color: transparent;
  text-indent: 10px;
  outline: none;
  width: 100%;
}

.input-container {
  border-bottom: 1px solid var(--text);
  padding-bottom: 1.6rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  margin-bottom: 2.4rem;
}

.dropdown-btn {
  text-align: left;
  border-bottom: 1px solid var(--text);
  padding-bottom: 1.6rem;
  padding-right: 2rem;
  font-weight: bold;
  color: var(--headings);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.options-container {
  position: absolute;
  z-index: 2;
  border: 1px solid var(--text);
  margin-top: 0.4rem;
  padding: 1.5rem 2rem;
  background-color: var(--white);
  border-radius: 8px;
  width: 100%;
}

.option {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--text);
  margin-bottom: 1.6rem;
  cursor: pointer;
  font-weight: bold;
  color: var(--headings);
}

.option > span {
  opacity: 0.4;
}

.option.ultimate {
  padding: 0;
  border: 0;
  margin: 0;
}

.arrow-up {
  transform: rotate(180deg);
}
